//
// FIXY
//

html,
body { 
	overflow: hidden;
}

//
// NAVBAR
//

#controls { 
	background-color: #E6E6E6;
	border-color: #E6E6E6;
	.search-query {
	    display: inline-block;
	    width: calc(100% - 34px);
	}
}

#location-form {
	.navbar-form,
	input#location,
	.navbar-form > div.form-group  {
		width:100% !important;
	}
}



//
// HELPER CLASSES
//

.w100 {
	width: 100%;
}