//
// FIXY
//
html,
body {
    overflow: hidden;
    height: 100%;
}

//
// NAVBAR
//
#controls {
    background-color: #E6E6E6;
    border-color: #E6E6E6;
    .search-query {
        display: inline-block;
        width: calc(100% - 34px);
    }
    .submitbutton {
        padding-bottom: 7px;
    }
}

#location-form {
    .navbar-form,
    .navbar-form > div.form-group {
        width: 100% !important;
    }
}

//
// HELPER CLASSES
//
.w100 {
    width: 100%;
}

//
// SPEECH OVERLAY
//

#actionButton {
    transition: 0.2s all;
    &.speechDisabled {
        background-color: red;
    }
}

.activateSpeech {
    transition: 0.2s all;
    transform: scale(1.0);
    &.working {
        transform: scale(1.2);
    }
}

//
// REFRESH SPINNER
//
.loading #reload > i{
    transition: 0.2s all;
    display: block;
    animation: spinner 1s infinite;
}

@keyframes spinner {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

//
// HOMEPAGE
//
body.home {
    transition: 0.2s all;
    height: 100%;
    .micwrapper,
    .micinfo {
        max-width: 400px;
        width: 70%;
        display: block;
        margin: 30px auto 0;
    }
    .micinfo {
        font-size: 34px;
        text-align: center;
        font-weight: 200;
    }
    #speechContainer {
        font-size: 24px;
        text-align: center;
        font-weight: 200;
    }
}